{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "bracketSameLine": true,
  "semi": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@layouts(.*)$",
    "^@pages(.*)$",
    "^@components(.*)$",
    "^@utils(.*)$",
    "^@constants(.*)$",
    "^@types(.*)$",
    "^@assets(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
